.ready__link{
    display: flex;
    flex-direction: column;
}
.ready__link__transition{
    width: 35%;
    padding: 10px 0;
    margin-bottom: 20px;

    background-color: white;

    font-size: 24px;
    font-weight: 500;
    text-align: start;
}
.ready__link__copy{
    width: 18%;
    padding: 11px 10px;

    border-radius: 10px;
    border: 1px solid rgb(213, 212, 212);
    box-shadow: 2px 5px 25px rgb(220, 220, 220);
    background-color: white;

    font-size: 18px;
    color: rgb(106, 106, 106);
}
.ready__link__copy:hover{
    background-color: c;
    transition: 0.2s;
}
.link__display__none{
    display: none;
}