* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(241, 241, 241);
}

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}
